    <%- include('partials/header.ejs') %>
        <main>

        <!-- LOADER 
        <div id="loader" class="center"></div>-->


            <!-- THUMBNAILS GALLERY -  "CATEGORY "ANIMATION" -->
            <div class="container-fluid d-flex g-0 mt-4">
                
                <div class="row gx-0">
        
                    <% thumbnailsList.forEach(thumbnail => {%>

                        <div class="col-md-6 col-lg-4 d-flex title"> 
       
                            <a class="d-flex" href="/<%= thumbnail._id %>">
                                <h3 class="text-center thumbnail_title"><%= thumbnail.title %></h3>
                                <div id="source1">
                                    <img class="img-fluid thumbnail_img" width="1000" src="<%= thumbnail.imgSrc %>" 
                                    alt="visual for <%= thumbnail.title %> by regis raffin">
                                </div>
                                <div id="source2">
                                    <video class="thumbnail_vid hidden w-100 h-100" autoplay playsinline muted loop src="<%= thumbnail.videoSrc %>" type="video/mp4"></video>
                                </div>
                            </a>
                        </div>
          
                    <%})%>
                
                </div>
                
            </div>
            
        </main>
        <%- include('partials/footer.ejs') %>
        <!-- CHECK DEVICE TYPE  -->
        <script>
            let detectDeviceType = () =>
                /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
                    ? 'Mobile'
                    : 'Desktop';
                console.log(detectDeviceType()); 

            if (detectDeviceType() === 'Desktop'){
                // append Js file to html file :
                const script = document.createElement('script');
                script.src = 'https://site-regis.s3.eu-west-3.amazonaws.com/public/js/thumbnail.js';  

                document.head.appendChild(script);

            } else {
                const script = document.createElement('script');
                script.src = 'https://site-regis.s3.eu-west-3.amazonaws.com/public/js/remove_vids.js' //public/js/remove_vids.js';  

                document.head.appendChild(script);
            }
        </script>
    </body>
</html>