<%- include('partials/header.ejs') %>

        <!-- THUMBNAILS - IMG / VID GALLERY-->
        <main>
        
        <!-- LOADER 
        <div id="loader" class="center"></div>-->


            <div class="container-fluid d-flex g-0">

                <div class="row gx-0 thumb_box">
        
                    <% thumbnailsList.forEach(thumbnail => {%>
                        
                        <div class="col-md-6 col-lg-4 d-flex title"> 
    
                            <a class="d-flex thumbnail_title hidden" href="/<%= thumbnail._id %>">
                                <h3 class="text-center thumbnail_title"><%= thumbnail.title %></h3>
                                <div id="source1">
                                    <img class="img-fluid thumbnail_img" width="800" height="331" src="<%= thumbnail.imgSrc %>" 
                                    alt="visual for <%= thumbnail.title %> by regis raffin">
                                </div>
                                <div id="source2">
                                    <video id="no-load-mobile" class="thumbnail_vid hidden w-100 h-100" autoplay playsinline muted loop src="<%= thumbnail.videoSrc %>" type="video/mp4"></video>
                                </div>
                            </a>
                        </div>
        
                    <%})%>
                
                </div>

            </div>

        </main>
        <%- include('partials/footer.ejs') %>
    </body>
