<%- include('partials/header.ejs') %>
        <!-- THUMBNAILS - IMG / VID GALLERY-->
        <main>
            <div class="container-fluid d-flex g-0">
                <div class="row gx-0 thumb_box">

                    <% thumbnailsList.forEach(thumbnail => {%>

                        <div class="col-md-6 col-lg-4 title"> 
                            <a class="d-flex thumbnail_title hidden" href="/<%= thumbnail._id %>">
                                <h3 class="text-center thumbnail_title"><%= thumbnail.title %></h3>
                                <div class="source1">
                                    <img 
                                        class="img-fluid thumbnail_img" 
                                        width="1000" src="<%= thumbnail.imgSrc %>" 
                                        alt="visual for <%= thumbnail.title %> by regis raffin"
                                        fetchpriority="high"
                                        loading="eager"
                                    >
                                </div>
                                <div class="source2"> 
                                    <video 
                                        class="thumbnail_vid hidden w-100 h-100 no-load-mobile" 
                                        autoplay playsinline muted loop preload="metadata" 
                                        src="<%= thumbnail.videoSrc %>" 
                                        type="video/mp4">
                                    </video>
                                </div>                                
                            </a>
                        </div>

                    <%})%>
                    
                </div>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
         <!-- CHECK DEVICE TYPE & LOAD APPROPRIATE SCRIPT -->
        <script src="https://site-regis.s3.eu-west-3.amazonaws.com/public/js/detectDeviceType.js"></script>
        <!-- CHECK BROWSER - SAFARI ISSUE - DEV -->
        <!-- <script src="../public/js/detectBrowserType.js"></script> -->
        <!-- <script src="../public/js/thumbnail.js"></script> DEV-->
    </body>
</html>
