<%- include('partials/header.ejs') %>
<body>
    <main>
        <!-- THUMBNAILS GALLERY -  EJS & MONGODB -->
        <div class="container-fluid gx-0 d-flex">
            
            <div class="row gx-0">
    
                <% thumbnailsList.forEach(thumbnail => { %>

                    <div class="col-md-4 title">
                        <h3 class="text-center"><%= thumbnail.title %></h3>
                        <a href="#">
                            <!-- SRC 1 : image -->
                            <img class="img-fluid thumbnail" src="<%= thumbnail.imgSrc %>" 
                            alt="<%= thumbnail.altText %>">
                            <!-- SRC 2 : image -->
                            <video controls autoplay class="visibility" src="<%= thumbnail.videoSrc %>" type="video/mp4"></video>

                        </a>
                    </div>
      
                <%})%>
                
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>