<%- include('partials/header.ejs') %>

<br><br>

<div class="container d-flex justify-content-center">
    <main class="project-wrapper">        
        <!-- SECTION 1-->
        <section id="section-1" class="mb-4">
            <!-- VID 1 -->
            <div class="video-iframe d-flex justify-content-center pb-4">
                <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[0]%>"  frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- INFOS -->
            <div>
                <h1 class="text-center project_title"><%= project.project_title %></h1>
                <p class="text-center"><%= project.director %></p>
                <p class="text-center"><%= project.other_contributors %></p>
                <p class="text-center"><%= project.productor %></p>
            </div>
        </section>

        <!-- SECTION 2-->
        <section id="section-2">
            <div class="row gy-3 d-flex">
                <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[0] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[1] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
            </div>
            <br>
            <!-- TEXT -->
            <div class="row mt-2 mb-4">
                <div class="col"><p class="text-center"><%= project.gallery_row_1_description %> </p></div>
            </div>
            <!-- / TEXT -->
            <div class="row gy-3 d-flex">
                <div class="col-sm-4 col-xs-12"><img class="img-fluid" src="<%= project.gallery[2] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                <div class="col-sm-4 col-xs-12"><img class="img-fluid" src="<%= project.gallery[3] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                <div class="col-sm-4 col-xs-12"><img class="img-fluid" src="<%= project.gallery[4] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
            </div>
            <br>
            <!-- TEXT -->
            <div class="row mt-2 mb-4">
                <div class="col"><p class="text-center"><%= project.gallery_row_2_description %> </p></div>
            </div>
            <!-- / TEXT -->
            <div class="row gy-3 d-flex">
                <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[5] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[6] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
            </div>
            <div class="row">
                <div class="col"><p class="text-center"><%= project.gallery_row_3_description %> </p></div>
            </div>
         </section>

         
        <!-- VID 2 - if exists -->
        <div class="d-flex justify-content-center">
            <iframe class="db-video img-fluid" width="1280" height="720"  src="<%= project.array_vids[1]%>"></iframe>
        </div>
    </main>
</div>

<%- include('partials/footer.ejs') %></br>