<%- include('partials/header.ejs') %>

<div class="container d-flex ">
    <main class="project-wrapper">        
        <!-- SECTION 1-->
        <section id="section-1" class="mb-4">
            <!-- VID 1 -->
            <div class="video-iframe d-flex justify-content-center pb-4">
                <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[0]%>"  frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- INFOS -->
            <div>
                <h1 class="text-center project_title"><%= project.project_title %></h1>
                <p class="text-center project"><%= project.director %></p>
                <p class="text-center project"><%= project.other_contributors %></p>
                <p class="text-center project"><%= project.productor %></p>
            </div>
        </section>
       
        <!-- SECTION 2-->
        <section id="section-2">
            <!--ROW 1-->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.slice(0, 2).forEach((element, index) => {%>

                    <% console.log("DECOUPE 1", project.gallery.slice(0, 2)) %> 

                    <%if(project.gallery[index].endsWith('.jpg')){%>
                        <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                    <% }  else { %>
                        <div class="col-sm-6 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/webm" data-action="zoom"></video></div>
                    <% } %>
                    <%# console.log(project.gallery) %>
            
                <%})%>
               
            </div>
            <br><!--ROW 1 TEXT -->
            <div>
                <p class="text-white"> <%= project.gallery_row_1_description %> </p>
            </div>
            <br> 
            <!-- ROW 2 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.forEach((element, index) => {%>
                    <% if(index > 1 && index < 5) {%>

                        <%if(project.gallery[index].endsWith('.jpg')){%>
                            <div class="col-sm-4 col-xs-12"><img class="img-fluid" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                        <% }  else { %>
                            <div class="col-sm-4 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4" data-action="zoom"></video></div>
                        <% } %>

                    <% } %>
                <%})%>

            </div>
            <br><!--ROW 2 TEXT -->
            <div>
                <p class="text-white"> <%= project.gallery_row_2_description %> </p>
            </div>
            <br> 
            <!-- ROW 3 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.forEach((element, index) => {%>
                    <% if(index > 4) {%>

                        <%if(project.gallery[index].endsWith('.jpg')){%>
                            <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                        <% }  else { %>
                            <div class="col-sm-6 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4" data-action="zoom"></video></div>
                        <% } %>

                    <% } %>
                <%})%>

            </div>
            <br><!--ROW 3 TEXT -->
            <div>
                <p class="text-white"> <%= project.gallery_row_3_description %> </p>
            </div>
            <br> 
        </section>

        <!-- IF MORE THAN 1 VIMEO VIDS :  -->
        <section>
            <div class="d-flex justify-content-center">
                <iframe class="db-video img-fluid" width="1280" height="720"  src="<%= project.array_vids[1]%>"></iframe>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <iframe class="db-video img-fluid" width="1280" height="720"  src="<%= project.array_vids[2]%>"></iframe>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <iframe class="db-video img-fluid" width="1280" height="720"  src="<%= project.array_vids[3]%>"></iframe>
            </div>
        </section>
    </main>
</div>

<%- include('partials/footer.ejs') %></br>