<%- include('partials/header.ejs') %>

<div class="container d-flex ">
    <main class="project-wrapper">        
        <!-- SECTION 1-->
        <section id="section-1" class="mb-4">
            <!-- VID 1 -->
            <div class="video-iframe d-flex justify-content-center">
                <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[0]%>"  frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- INFOS -->
            <div>
                <h1 class="text-center project_title"><%= project.project_title %></h1>
                <p class="text-center project"><%= project.director %></p>
                <p class="text-center project"><%= project.other_contributors %></p>
                <p class="text-center project"><%= project.productor %></p>
            </div>
        </section>
       
        <!-- SECTION 2-->
        <section id="section-2">
            <!--ROW 1 - GALLERY : indexes 0 to 1 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.slice(0, 2).forEach((element, index) => {%>

                    <%# console.log("DECOUPE 1", project.gallery.slice(0, 2)) %> 

                    <%if(project.gallery[index].endsWith('.jpg')){%>
                        <div class="col-sm-6 col-xs-12"><img class="img-fluid" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                    <% }  else { %>
                        <div class="col-sm-6 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4"></video></div>
                    <% } %>
                    <%# console.log(project.gallery) %>
            
                <%})%>
               
            </div>
            <br><!--ROW 1 - TEXT -->
            <div>
                <p class="text-white projet-paragraphe"> <%= project.gallery_row_1_description %> </p>
            </div>
            <br> 
            <!-- ROW 2 - GALLERY : indexes 2 to 4 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.forEach((element, index) => {%>
                    <% if(index > 1 && index < 5) {%>

                        <%if(project.gallery[index].endsWith('.jpg')){%>
                            <div class="col-sm-4 col-xs-12"><img class="img-fluid" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                        <% }  else { %>
                            <div class="col-sm-4 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4"></video></div>
                        <% } %>

                    <% } %>
                <%})%>

            </div>
            <br><!--ROW 2 TEXT -->
            <div>
                <p class="text-white projet-paragraphe"> <%= project.gallery_row_2_description %> </p>
            </div>
            <br> 
            <!-- ROW 3 - GALLERY : indexes 5 to 6 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.forEach((element, index) => {%>
                    <% if(index > 4) {%>

                        <%if(project.gallery[index].endsWith('.jpg')){%>
                            <div class="col-sm-6 col-xs-12"><img class="img-fluid w-100" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                        <% }  else { %>
                            <div class="col-sm-6 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4"></video></div>
                        <% } %>

                    <% } %>
                <%})%>

            </div>
            <br><!--ROW 3 TEXT -->
            <div>
                <p class="text-white projet-paragraphe"> <%= project.gallery_row_3_description %> </p>
            </div>
            <br> 
            <!-- ROW 4 - GALLERY - ALL THE IMGS LEFT, indexes 7 to 15 -->
            <div class="row gy-3 d-flex"> 

                <% project.gallery.forEach((element, index) => {%>
                    <% if(index >= 7) {%>

                        <%if(project.gallery[index].endsWith('.jpg')){%>
                            <div class="col-sm-6 col-xs-12"><img class="img-fluid w-100" src="<%= project.gallery[index] %>" alt="visuel pour <%= project.project_title %>" data-action="zoom"></div>
                        <% } else { %>
                            <div class="col-sm-6 col-xs-12"><video class="img-fluid"  autoplay playsinline muted loop src="<%= project.gallery[index] %>"  type="video/mp4"></video></div>
                        <% } %>

                    <% } %>
                <%})%>

            </div>
        </section>
        <br>
        <!-- IF MORE THAN 1 VIMEO VIDS :  -->
        
        <section>
            <!-- VID 2 -->
            <% if (project.array_vids[1]) {%>
                <div class="video-iframe d-flex justify-content-center pb-4">
                    <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[1]%>"  frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
            <% } %>
            <p class="text-white projet-paragraphe"> <%= project.video2_description %> </p>
            <br>
            <!-- VID 3 -->
            <% if (project.array_vids[2]) {%>
                <div class="video-iframe d-flex justify-content-center pb-4">
                    <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[2]%>"  frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
            <% } %>
            <p class="text-white projet-paragraphe"> <%= project.video3_description %> </p>
            <br>
            <!-- VID 4 -->
            <% if (project.array_vids[3]) {%>
                <div class="video-iframe d-flex justify-content-center pb-4">
                    <iframe class="resp-iframe" title="vimeo-player" src="<%= project.array_vids[3]%>"  frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
            <% } %>
            <p class="text-white"> <%= project.video4_description %> </p>
        </section>
    </main>
</div>

<%- include('partials/footer.ejs') %></br>