<%- include('partials/header.ejs') %>

<div class="container">
    <main class="project-wrapper"> 

        <!-- SECTION 1 - Intro -->
        <section id="section-1" class="mb-3">
            <!-- VID 1 -->
            <div class="video-iframe mb-3">
                <iframe class="resp-iframe" 
                        src="<%= project.array_vids[0]%>"  
                        frameborder="0" allowfullscreen
                        title="vimeo-player">
                </iframe>
            </div>

            <!-- INFOS -->
            <div class="text-center">
                <h1 class="project_title"><%= project.project_title %></h1>
                <p class="project"><%= project.director %></p>
                <p class="project"><%= project.other_contributors %></p>
                <p class="project"><%= project.productor %></p>
            </div>
        </section>

        <!-- SECTION 2 - Galerie -->
        <section id="section-2">

            <% 
            // Tableau pour slices de galeries et colonnes
            const gallerySlices = [
                {start:0,end:4,cols:'col-sm-6 col-12'},
                {start:4,end:8,cols:'col-sm-6 col-12'},
                {start:8,end:12,cols:'col-sm-6 col-12'},
                {start:12,end:16,cols:'col-sm-6 col-12'}
            ];
            
            // Affichage des galeries
            gallerySlices.forEach(slice => { 
            %>
                <% if(project['gallery_row_'+(gallerySlices.indexOf(slice)+1)+'_description']) { %>
                    <p class="text-white projet-paragraphe mb-4">
                        <%= project['gallery_row_'+(gallerySlices.indexOf(slice)+1)+'_description'] %>
                    </p>
                <% } %>

                <div class="row gy-4 gx-4 mb-4">
                    <% project.gallery.slice(slice.start, slice.end).forEach((element) => { %>
                        <div class="<%= slice.cols %>">
                            <% if(element.endsWith('.jpg')) { %>
                                <img class="img-fluid" 
                                     src="<%= element %>" 
                                     alt="visuel pour <%= project.project_title %>" 
                                     data-action="zoom">
                            <% } else { %>
                                <video class="img-fluid" autoplay playsinline muted loop src="<%= element %>"></video>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            <% }) %>

            <!-- VIDÉOS SUPPLÉMENTAIRES -->
            <% [1,2,3,4,5,6].forEach((vidIndex) => { %>
                <% if (project.array_vids[vidIndex]) { %>
                    <% if(project['video'+(vidIndex+1)+'_description']) { %>
                        <p class="text-white projet-paragraphe mb-4">
                            <%= project['video'+(vidIndex+1)+'_description'] %>
                        </p>
                    <% } %>

                    <div class="video-iframe mb-4">
                        <iframe class="resp-iframe" 
                                src="<%= project.array_vids[vidIndex]%>"  
                                frameborder="0" allowfullscreen
                                title="vimeo-player">
                        </iframe>
                    </div>
                <% } %>
            <% }) %>

        </section>
    </main>
</div>

<%- include('partials/footer.ejs') %>
